@import './function';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*index start*/
.body {
    @include flexphone;
    font-family: "Roboto";
    max-width: 100%;
}

.nounderline {
    text-decoration: none;
}



.header {
    @include flexphone;
    .logo   {
        @include logosettings;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 0.3s;
        padding: 30px 20px 20px 20px;
        max-width: 100%;
    }

}

.intro{
    .subtitle {
        display: block;
        max-width: 100%;
        background-color: #EAEAEA;
        padding: 2px;
        text-align: center;
        margin-bottom: -30px;
        font-size: 20px;
    }
    .presentation {
        background-color: #F6F6F6;
        text-align: center;
        font-size: x-large;
        .presentation-text {
            padding-top: 40px;
        }


        .explore {
            @include buttongradient;
            margin-bottom: 70px;
            &:hover {
                background: linear-gradient(173deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 90%)
            }
            @media screen and (min-width:575px) {
                font-size: 30px;
                
            }
            @media screen and (min-width:700px) {
                font-size: 40px;
                
            }
        }
    }
   
    
}

.fonctionnement {
    @include flexphone;
    gap: 25px;
    margin-bottom: 20px;

    .fonctionnement-title{
        @include index-title;
    }

    .fonctionnement-card{
        @include card-shadow();
        background-color: #F6F6F6;
        border-radius: 25px;
        max-width: 95%;
        @media screen and (max-width:800px) {
            max-width: 92%;    
        }
        @media screen and (max-width:775px) {
            max-width: 91%;   
        }
        /*@media screen and (min-width:1000px) {
            max-width: 77%;                
        }
        @media screen and (min-width:630px) {
            max-width: 84%;                
        }
        @media screen and (min-width:730px) {
            max-width: 85%;                
        }*/
        width: 100%;
        height: 70px;
        padding: 10px 10px 10px 27px;
        font-size: large;
        margin: auto;

        .icone-info {
            padding-right: 20px;
        }
        .icone-info-purple{
            color: #9356DC;
        }
        .icone-nombre{
            padding-right: 2px;
        }
    }

}


.main {
    @include flexphone;
    margin-top: 50px;
    background-color: #F6F6F6;
    height: 1600px;
    .main-title {
        @include index-title;
    }

    .restaurant-card{
        @include card-shadow();
        margin-top: 30px;
        max-width: 95%;
        height: 330px;
        border-radius: 20px;
        margin-left: 2%;
        margin-right: 2%;
        .new{
            padding: 10px;
            background-color: #99E2D0;
            color:#2AA083;
            max-width: 75px;
            position: relative;
            bottom: 300px;
            left: 75%;
            @media screen and (max-width:550px) {
                left: 65%;    
            }
            @media screen and (max-width:450px) {
                left: 60%;    
            }
            @media screen and (max-width:350px) {
                left: 55%;    
            }

        }
        .restaurant-card-image{
            max-width: 100%;
            height: 250px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .restaurant-card-text {
            margin-left: 20px;
            font-size: larger;
            margin-top: -10px;

            .restaurant-card-place {
                margin-top: -20px;
            }
            
            .restaurant-card-favoris{
                float: right;
                margin-right: 3%;
                font-size: 28px;
                background-color: linear-gradient(179deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 95%);
                color: black;
                
            }
            
            .restaurant-card-favoris:before{
                display: block;
                transition: color 1s ease-out;
                
            }


            .restaurant-card-favoris:hover:before{
                cursor: pointer;
                font-weight: bold;
                background: linear-gradient(to top, #FF79DA , #9356DC);
                -webkit-background-clip: text ;
                background-clip: text;
                -webkit-text-fill-color: transparent;

            }
        }
    }
}
.footer {
    @include footers;
}

/*index end*/

/*menu start*/

.body-menu {
    @include flexphone;
    font-family: "Roboto";
    max-width: 100%;
    text-overflow: ellipsis;
}

.logo-arrow {
    font-size: x-large;
    position: absolute;
    top: 45px;
    left: 20px;
    color: black;
}
.img-restaurant {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.main-menu{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px; 
    @include flexphone;
    margin-top: -35px;
    background-color: #EBE7E7;
    height: 1300px;

    .title-main {
        font-family: 'Shrikhand';
        font-weight: 350;
        text-align: center;
    }

    .restaurant-menu-favoris {
        float: right;
                margin-right: 5%;
                font-size: 28px;
                &:hover {
                    color: #9356DC;
                }
    }
    /*animation hover favoris dégradé*/
    .restaurant-menu-favoris:before{
        display: block;
        transition: color 1s ease-out;
        
    }
    .restaurant-menu-favoris:hover:before{
        cursor: pointer;
        font-weight: bold;
        background: linear-gradient(to top, #FF79DA , #9356DC);
        -webkit-background-clip: text ;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    /*animation hover favoris dégradé end*/

    .title-section {
        margin-left: 3%;
        font-size: medium;
        font-weight: 300;
        border-bottom: #99E2D0;
        border-bottom-style: solid;
        padding-bottom: 10px;
        max-width: 10%;


    }

    .section-menu{
        margin-bottom: 30px;
        max-width: 100%;
        


        .section-card {
            .flex-description-price{
                display: flex;
            }
            .description{
               max-width: 250px;
            }
            
            .achat-validé{
                float: right;
                position: relative;
                bottom: 35px;
                left: 25px;
                font-size: x-large;
                visibility: hidden;
                color: #EAEAEA ;
               
                
            }
            height: 60px;
            @include card-shadow();
            background-color: white ;
            border-radius: 20px;
            max-width: 75% ;
            @media screen and (max-width:400px) {
                max-width: 73%;    
            }
            @media screen and (max-width:370px) {
                max-width: 70%;   
            }
            @media screen and (max-width:340px) {
                max-width: 67%;                
            }
            @media screen and (max-width:300px) {
                max-width: 64%;                
            }
            @media screen and (min-width:430px) {
                max-width: 77%;    
            }
            @media screen and (min-width:470px) {
                max-width: 80%;   
            }
            @media screen and (min-width:530px) {
                max-width: 82%;                
            }
            @media screen and (min-width:630px) {
                max-width: 84%;                
            }
            @media screen and (min-width:730px) {
                max-width: 85%;                
            }
            width: 100%;
            padding: 5px 70px 5px 10px;
            margin-top: 10px;
            margin-left: 2%;
            background: linear-gradient(to right, white 88%, #99E2D0 12%);
            background-size: 200% 100%;
            background-position:left bottom;
            margin-left:10px;
            transition:all 0.5s ease;
            @media screen and (max-width:400px) {
                background: linear-gradient(to right, white 84%, #99E2D0 16%);
                background-size: 200% 100%;
                background-position:left bottom;
                margin-left:10px;
                transition:all 0.5s ease;  
            }
            &:hover{
                background-position: right bottom;
                .price {
                    position: relative;
                    right: 100px;
                }
                .achat-validé{
                    display: block;
                    visibility: visible;
                    -webkit-animation: roll-in-right 0.6s ease-out both;
	                animation: roll-in-right 0.6s ease-out both;
                    overflow: hidden;
                    
                }
                

            }

        
        
            
            .name-card {
                margin-top: 5px;
                text-overflow: ellipsis;
                max-height: 40px;
                white-space: nowrap;
                overflow: hidden;
                

            }
            .subtitle-card {
                margin-top: -10px;
                text-overflow: ellipsis;
                max-height: 40px;
                white-space: nowrap;
                overflow: hidden;
    
            }
            .price {
                float: right;
                font-weight: bolder;
                
                
            }
        }
        /*animation*/
        @-webkit-keyframes roll-in-right {
            0% {
              -webkit-transform: translateX(50px) rotate(540deg);
                      transform: translateX(50px) rotate(540deg);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateX(0) rotate(0deg);
                      transform: translateX(0) rotate(0deg);
              opacity: 1;
            }
          }
          @keyframes roll-in-right {
            0% {
                -webkit-transform: translateX(50px) rotate(540deg);
                transform: translateX(50px) rotate(540deg);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateX(0) rotate(0deg);
                      transform: translateX(0) rotate(0deg);
              opacity: 1;
            }
          }

        @for $i from 1 through 9 {
            .section-card-#{$i} {
                animation-fill-mode: backwards;
                animation-delay: 200ms*$i;
            }
        }

        /*.section-card-1 {
            @include animationlancementdelay (200ms)
        }
        .section-card-2 {
            @include animationlancementdelay (400ms)
        }
        .section-card-3 {
            @include animationlancementdelay (600ms)
        }
        .section-card-4 {
            @include animationlancementdelay (800ms)
        }
        .section-card-5 {
            @include animationlancementdelay (1000ms)
        }
        .section-card-6 {
            @include animationlancementdelay (1200ms)
        }
        .section-card-7 {
            @include animationlancementdelay (1400ms)
        }
        .section-card-8 {
            @include animationlancementdelay (1600ms)
        }*/

    }/*animation end*/
    
    

   
}

.footer-menu {
    margin-top: -10px;
}

.center {
    text-align: center;
    .commander {
        margin-top: 20px;
        margin-bottom: 20px;
        @include buttongradient;
        padding: 20px 50px 20px 50px;
        &:hover {
            background: linear-gradient(173deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 90%)
        }
    }

}




.notshow {
    display: none;
    visibility: hidden;
}

