@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*index start*/
.body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  max-width: 100%;
}

.nounderline {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 30px 20px 20px 20px;
  max-width: 100%;
}

.intro .subtitle {
  display: block;
  max-width: 100%;
  background-color: #EAEAEA;
  padding: 2px;
  text-align: center;
  margin-bottom: -30px;
  font-size: 20px;
}
.intro .presentation {
  background-color: #F6F6F6;
  text-align: center;
  font-size: x-large;
}
.intro .presentation .presentation-text {
  padding-top: 40px;
}
.intro .presentation .explore {
  background: rgb(255, 121, 218);
  background: linear-gradient(173deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 35%);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  max-width: 80%;
  width: 100%;
  margin-bottom: 70px;
}
.intro .presentation .explore:hover {
  background: linear-gradient(173deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}
.fonctionnement .fonctionnement-title {
  margin-left: 1%;
  font-size: xx-large;
}
.fonctionnement .fonctionnement-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #F6F6F6;
  border-radius: 25px;
  max-width: 83%;
  width: 100%;
  height: 70px;
  padding: 10px 10px 10px 27px;
  font-size: large;
  margin: auto;
}
.fonctionnement .fonctionnement-card .icone-info {
  padding-right: 20px;
}
.fonctionnement .fonctionnement-card .icone-nombre {
  padding-right: 2px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #F6F6F6;
  height: 1600px;
}
.main .main-title {
  margin-left: 1%;
  font-size: xx-large;
}
.main .restaurant-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 30px;
  max-width: 95%;
  height: 330px;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.main .restaurant-card .restaurant-card-image {
  max-width: 100%;
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main .restaurant-card .restaurant-card-text {
  margin-left: 20px;
  font-size: larger;
  margin-top: -10px;
}
.main .restaurant-card .restaurant-card-text .restaurant-card-place {
  margin-top: -20px;
}
.main .restaurant-card .restaurant-card-text .restaurant-card-favoris {
  float: right;
  margin-right: 3%;
  font-size: 28px;
}
.main .restaurant-card .restaurant-card-text .restaurant-card-favoris:hover {
  color: #9356DC;
}

.footer {
  background-color: #353535;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  height: 210px;
}
.footer .footer-title {
  margin-left: 3%;
  font-family: "Shrikhand";
  font-weight: 100;
  margin-bottom: 20px;
}
.footer .footer-text {
  margin-left: 3%;
  margin-top: 10px;
  color: white;
}
.footer .footer-icon {
  margin-right: 15px;
}
.footer .footer-icon2 {
  font-size: 11px;
}

/*index end*/
/*menu start*/
.body-menu {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  max-width: 100%;
  text-overflow: ellipsis;
}

.logo-arrow {
  font-size: x-large;
  position: absolute;
  top: 45px;
  left: 20px;
  color: black;
}

.img-restaurant {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  margin-top: -35px;
  background-color: #EBE7E7;
  height: 1200px;
  margin-bottom: 10px;
}
.main-menu .title-main {
  font-family: "Shrikhand";
  font-weight: 350;
  text-align: center;
}
.main-menu .restaurant-menu-favoris {
  float: right;
  margin-right: 5%;
  font-size: 28px;
}
.main-menu .restaurant-menu-favoris:hover {
  color: #9356DC;
}
.main-menu .title-section {
  margin-left: 3%;
  font-size: medium;
  font-weight: 300;
  border-bottom: #99E2D0;
  border-bottom-style: solid;
  padding-bottom: 10px;
  max-width: 10%;
}
.main-menu .section-menu {
  margin-bottom: 30px;
  max-width: 100%;
  /*.section-card-1 {
      @include animationlancementdelay (200ms)
  }
  .section-card-2 {
      @include animationlancementdelay (400ms)
  }
  .section-card-3 {
      @include animationlancementdelay (600ms)
  }
  .section-card-4 {
      @include animationlancementdelay (800ms)
  }
  .section-card-5 {
      @include animationlancementdelay (1000ms)
  }
  .section-card-6 {
      @include animationlancementdelay (1200ms)
  }
  .section-card-7 {
      @include animationlancementdelay (1400ms)
  }
  .section-card-8 {
      @include animationlancementdelay (1600ms)
  }*/
}
.main-menu .section-menu .section-card {
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
  max-width: 75%;
  width: 100%;
  padding: 5px 70px 5px 10px;
  margin-top: 10px;
  margin-left: 2%;
  -webkit-animation: lancement 1s ease-out;
          animation: lancement 1s ease-out;
}
@media screen and (min-width: 430px) {
  .main-menu .section-menu .section-card {
    max-width: 77%;
  }
}
@media screen and (min-width: 470px) {
  .main-menu .section-menu .section-card {
    max-width: 80%;
  }
}
@media screen and (min-width: 530px) {
  .main-menu .section-menu .section-card {
    max-width: 82%;
  }
}
@media screen and (min-width: 630px) {
  .main-menu .section-menu .section-card {
    max-width: 84%;
  }
}
@media screen and (min-width: 730px) {
  .main-menu .section-menu .section-card {
    max-width: 85%;
  }
}
.main-menu .section-menu .section-card:not(:active) {
  transition: width 3000ms ease-out;
}
.main-menu .section-menu .section-card:active {
  width: 60%;
  transform-origin: right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.main-menu .section-menu .section-card .achat-validé {
  display: none;
  visibility: hidden;
}
.main-menu .section-menu .section-card .achat-validé .fa-circle-check {
  display: none;
  visibility: hidden;
}
.main-menu .section-menu .section-card .name-card {
  margin-top: 5px;
  text-overflow: ellipsis;
  max-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
.main-menu .section-menu .section-card .subtitle-card {
  margin-top: -10px;
  text-overflow: ellipsis;
  max-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
.main-menu .section-menu .section-card .price {
  float: right;
  font-weight: bolder;
}
.main-menu .section-menu .section-card-1 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.main-menu .section-menu .section-card-2 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.main-menu .section-menu .section-card-3 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.main-menu .section-menu .section-card-4 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.main-menu .section-menu .section-card-5 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.main-menu .section-menu .section-card-6 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.main-menu .section-menu .section-card-7 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
.main-menu .section-menu .section-card-8 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.main-menu .section-menu .section-card-9 {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.footer-menu {
  margin-top: -10px;
}

.center {
  text-align: center;
}
.center .commander {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(255, 121, 218);
  background: linear-gradient(173deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 35%);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  max-width: 80%;
  width: 100%;
  padding: 20px 50px 20px 50px;
}
.center .commander:hover {
  background: linear-gradient(173deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
}

@-webkit-keyframes lancement {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes lancement {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.notshow {
  display: none;
  visibility: hidden;
}/*# sourceMappingURL=phone.css.map */